* {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

header {
    background-image: url(images/banner/banner2.png);
    height: 809px;
    width: 100%;
    float: right;
    padding-left: 500px;


}

header h1.h1-text {
    position: absolute;
    font-size: 65px;
    line-height: 76px;
    position: absolute;
    width: 525px;
    height: 228px;
    top: 120px;
    left: 200px;


}

header p.p-text {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    left: 200px;
    top: 400px;
    font-size: 18px;
    height: 78px;
    width: 494px;
    color: #444343;
}

header button.head-btn {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 200px;
    top: 548px;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(252, 91, 32);
    color: #FFFFFF;
    border: none;
    border-radius: 10px;

}

main img.main-img {
    float: left;
    position: relative;
    top: 100px;
    left: 300px;



}


main div.main-text {
    position: relative;
    float: right;
    padding: 280px 550px 0px 0px;
}

main div h1.main-h1 {
    font-weight: 700;
    font-size: 40px;
    width: 284px;
    height: 94px;

}

main div p.main-para {
    font-weight: 400;
    font-size: 16px;
    width: 416px;
    height: 104px;
    line-height: 26px;
}

ul.main-ul1 {
    position: absolute;
    list-style: none;
    line-height: 26px;
    list-style: none;

}

ul li span {
    color: rgb(132, 194, 41);
    font-size: 20px;
}

main div.main-second {
    position: relative;
    top: 300px;
    left: 250px;
    list-style: none;


}

main div ul li.main-li {
    text-align: center;
}

main div ul.main-ul3 {
    display: flex;
    list-style: none;
    width: 100%;
    height: 10px;

}

main div ul.main-ul3 li {
    padding-left: 220px;
}

main div ul.main-ul3 li img {
    width: 100px;
    height: 100px;
}

main div ul.main-ul4 {
    display: flex;
    list-style: none;
    padding-top: 90px;
    font-weight: 700;
    font-size: 30px;

}

main div ul.main-ul4 li {
    padding-left: 120px;
}

main div ul li.main-li0 {
    padding-left: 140px;
}



main div ul.main-ul5 {
    display: flex;
    list-style: none;
    font-weight: 500;
    font-size: 25px;
}

main div ul.main-ul5 li {
    padding-left: 160px;

}


div.main-third {
    display: flex;

}

div.main-third img.third-img {
    position: absolute;
    float: right;
    padding: 100px 800px;
}

.third-img1 {
    position: absolute;
    float: left;
    width: 350px;
    height: 150px;
    padding-top: 250px;
    padding-left: 300px;
}



div.main-third h1.third-h1 {

    width: 10px;
    padding-top: 150px;
    padding-left: 350px;
    color: rgb(243, 33, 26);
    font-size: 50px;
    font-weight: 700;
}


.third-span {
    color: #63cf38;
}

h1.fourth-h1 {
    color: rgb(20, 124, 184);
    padding-top: 390px;
    font-size: 50px;
    font-weight: 700;
    padding-left: 250px;
}

.blend-image {
    position: relative;
    top: 20px;
    left: 100px;
    background-image: url(images/watch.png), url(images/gradient1.png);
    background-blend-mode: multiply;
    background-position: center;
    top: 300px;
    width: 70%;
    height: 300px;
    background-repeat: no-repeat;
}

h1.fifth-h1 {
    color: white;
    padding-top: 50px;
    padding-left: 150px;
    width: 400px;
}

.button-2 {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    width: 160px;
    height: 64px;
    top: 150px;
    left: 150px;
    text-align: center;
    color: #F15B22;

}

footer {
    position: relative;
    display: flex;
    top: 700px;
    background-color: #151414;
    height: 577px;
    color: #FFFFFF;
}


h1.footer-h1 {
    width: 148px;
    height: 53px;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    line-height: 53px;
    padding-top: 100px;
    padding-left: 300px;
}

footer p {
    line-height: 23px;
    padding-top: 10px;
    padding-left: 300px;
}

.footer-p {
    width: 485px;
    height: 78px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;


}

.footer-p1 {

    padding-top: 30px;
}

.footer-p2 {

    padding-top: 15px;
}

.footer-img {
    margin-left: 20px;
    margin-top: 10px;
}

.footer-link {
    margin-left: 280px;
}

.footer-2 {
    float: right;
    padding-left: 400px;
    padding-top: 100px;

}

input {
    background: transparent;
    color: #FFFFFF;
    font-size: 15px;
    width: 325px;
    height: 50px;
    margin-top: 10px;
}



.footer-btn {
    margin-top: 10px;
    display: block;
    width: 170.11px;
    height: 64px;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
}